#git+https://github.com/huggingface/transformers.git@main
git+https://github.com/FloTeu/digital-product-generator.git@main
streamlit
beautifulsoup4
requests
pillow
accelerate
bitsandbytes
openai
opencv-python
numpy
