#git+https://github.com/huggingface/transformers.git@main
# TODO: fix this, so that streamlit takes the code on the fly
git+https://github.com/FloTeu/digital-product-generator.git@main
streamlit
beautifulsoup4
requests
pillow
accelerate
bitsandbytes
openai
opencv-python
numpy
langchain
seleniumbase
webdriver-manager